{##}
{% set author2 = __SELF__.author %}

{% if publications %}
    <div class="ui center aligned container">
        <h3 class="ui header">СПИСОК</h3>
        <span>опубликованных научных и учебно-методических работ</span>
        <p>{{ author.surname }} {{ author.name }} {{ author.middlename }}</p>
    </div>
    <table class="ui celled table">
    <thead>
        <tr>
            <th>№<br>п/п</th>
            <th>Наименование работы</th>
            <th>Вид работы</th>
            <th>Выходные данные</th>
            <th>Объем работы</th>
            <th>Соавторы</th>
        </tr>
    </thead>
    <tbody>
        {% for p in publications %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.publicationtype.name }}</td>
            <td>{% partial '@publication_outdata' publication = p %}</td>
            <td>{{ p.pagesNumber }}</td>
            <td>{{ p.authors }}</td>
            {# <td>{{ p.coAuthors }}</td> #}
        </tr>        
        {% endfor %}
    </tbody>
    </table>
    <p>Соискатель: ________________________</p>
    <br>
    <p>Список верен.<br>Руководитель научного подразделения: ________________________________</p>
    <br>
    <p>Ученый секретарь: ________________________________
    </p>
    <p>Дата: {{ "now"|date("d.m.Y") }}</p>
    <p>Печать организации</p>
{% else %}
    <h2 class="ui  header">Публикации не найдены</h2>
{% endif %}


{# author.artRiscTotal ? author.artRiscTotal|number_format(2) #}
