{##}
{% set departments = __SELF__.departments %}
{% set now = "now"|date("Y") %}

<form class="ui form"
    data-request="{{ __SELF__ }}::onGetPublications"
    data-request-update="'{{ __SELF__ }}::publication-list': '#result'">
    <div class="fields">
        <div class="field">
            <label>От года</label>
            <input name="fromYear" type="number" value="{{ now - 1 }}" min="{{ now - 50 }}" max="{{ now + 5 }}">
        </div>
        <div class="field">
            <label>До года</label>
            <input name="toYear" type="number" value="{{ now }}" min="{{ now - 50 }}" max="{{ now + 5 }}">
        </div>
    </div>
    <div class="field">
        <label>Индексация</label>
        <select name="index" class="ui search dropdown">
            <option value="all">Все типы</option>
            <option value="wos">Web of Science</option>
            <option value="scopus">Scopus</option>
            <option value="risc">РИНЦ</option>
        </select> 
    </div>      
    <div class="field">
        <label>Проект</label>
        <select name="project" class="ui search dropdown">
            <option value="all">Все проекты</option>
            {% for project in __SELF__.projects %}
                <option value="{{ project.id }}">{{ project.leader.surname|default('Без руководителя') }} / {{ project.name }} ({{ project.start_year }})</option>
            {% endfor %}
        </select> 
    </div>
    <div class="field">
        <label>Тип публикации</label>
        <select name="type" class="ui search dropdown">
            <option value="0">Все типы</option>
            {% for type in __SELF__.types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select> 
    </div>      
    <div class="field" id="js-department">
        <label>Подразделение</label>
        <select name="department" class="ui search dropdown">
            <option value="0">Все Подразделения</option>
            {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
            {% endfor %}
        </select>        
    </div>  
    <div class="field">
        <label>Сотрудник</label>
        <select name="author" class="ui search dropdown">
            <option value="0">Все сотрудники</option>
            {% for author in __SELF__.authors %}
                <option value="{{ author.id }}">{{ author.surname }} {{ author.name }} {{ author.middlename }}</option>
            {% endfor %}
        </select> 
        <p>Если указан сотрудник, то подразделение не учитывается</p>      
    </div>  

    <div class="field">
        <button type="submit" class="ui primary button" data-attach-loading>
            Сформировать
        </button> 
        <div id="reset-fields" class="ui button">
            Очистить выбор
        </div>
    </div>      
</form>
<br>
<div id="result">
    <!-- Сюда помещаяется паршл publication-list   -->
</div>

{% put scripts %}

    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();

            $('select[name="author"]')
                .dropdown('setting', 'onChange', function(newValue){
                    if (newValue == 0) {
                        $('#js-department').removeClass('disabled');
                    } else {
                        $('#js-department').addClass('disabled');
                    }
                }); 

            $('#reset-fields').on('click', function() {
                $('.ui.form .ui.dropdown').dropdown('restore defaults');
            })
            ;            
        });
    </script>

{% endput %}
