{##}
{% if publication.language == 'russian' %}
    {% set volume = '. Т.' %}
{% elseif publication.language == 'english' %}
    {% set volume = '. Vol.' %}
{% endif %}

{% if publication.publication_type_id == 1 or publication.publication_type_id == 2 %}
    {{ publication.journal|trim }}. {{ publication.year|trim }}
    {% if publication.volume is not empty %}
        {{ volume ~ publication.volume|trim }}
        {{ publication.number ? ", №" ~ publication.number|trim }}
    {% elseif publication.number is not empty %}
        . — №{{ publication.number|trim }}
    {% endif %}
{% elseif publication.publication_type_id == 3 %}
    {{ publication.title }}: Свидетельство о государственной регистрации программ для ЭВМ №{{ publication.number }} М.: Федеральная служба по интеллектуальной собственности, патентам и товарным знакам, {{ publication.year }}.                
{% endif %}
        
    