{##}

{#
  В поля раздела «Публикация» необходимо внести DOI публикации и информацию об авторе 
  (в формате Фамилия И.О.) соответственно. В разделе «Характеристики» требуется указать 
  количество аффиляций автора и количество авторов, а так же в поле «Квартиль» выбрать 
  из списка (нажав на кнопку) квартиль публикации. 
  
  Символы Q1 – Q4 используются для публикаций, 
  зарегистрированных в Web of Science, если у публикации нет индекса квартили, 
  но она входит в Core Collection Web of Science для неё ставится индекс Q4. 
  Символ S для публикаций, зарегистрированных в Scopus и не индексируемых в Web of Science. 
  Символ R для публикаций в журналах из RSCI Web of Science. 
  Символ V для публикаций в журналах списка ВАК, не входящие в вышеперечисленные пункты. 

  В поле «Темы» указываются регистрационные номера тем в ЕГИСУ НИОКТР (путем перечисления номеров 
  госрегистрации тем, разделенных запятыми), результаты работы по которым автор использовал в публикации.
  Можно приводить как несколько тем, так и ни одной. Учитывается для подсчета количества публикаций, 
  связанных с выполнением тематических работ в рамках Государственного задания. 
#}
{% if publication.is_wos == 1 %}
    {% set quartile = 'Q' %} {# Должен браться квартиль из базы данных #}
{% elseif publication.is_scopus == 1 %}
    {% set quartile = 'S' %}
{% elseif publication.is_risc == 1 %}
    {% set quartile = 'V' %}
{% else %}
    {% set quartile = '' %}
{% endif %}

{% set affilation = 1 %} {# Не учитывается в нашей системе #}

{% if publication.publication_authors|length > 0 %}
    {%- for a in publication.publication_authors -%}
        {{ publication.doi }};{{ quartile }};{{ publication.authors_count }};{% partial '@author' author = a %};{{ affilation }};
    {%- endfor -%}
    {%- for project in publication.projects -%}
        {{ loop.index > 1 ? ',' }}{{ project.nioktr_number ? project.nioktr_number : 'Нет ЦИТИС номера' }}         
    {%- endfor -%}   
{% else %}
    С публикацией не ассоциированны авторы системы
{% endif %}